<%- partial ('partials/slider.ejs') %>
<div id="acerca" class="section scrollspy">
  <div class="container center-align">
    <%- partial ('partials/about.ejs') %>
  </div>
</div>

<div id="servicios" class="section scrollspy">
  <div class="container center-align">
    <%- partial ('partials/service.ejs') %>
  </div>
</div>
<%- partial ('partials/footer.ejs') %>
